<!DOCTYPE html>

<%- include("../partials/head"); %>

<body class="container">
    
    <%- include("../partials/header", {pagina: "Sobre"}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Salve! Sou João Guilherme Ponciano e sou programador ABAP Jr, quero e estou me tornando um desenvolvedor WEB.</p>
        </div>
    </main>

    <%- include("../partials/footer"); %>

</body>
</html>